<div id="<%= dom_id sous_category %>">
  <p>
    <strong>Titre:</strong>
    <%= sous_category.titre %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= sous_category.category_id %>
  </p>

</div>
