<h1>Editing sous category</h1>

<%= render "form", sous_category: @sous_category %>

<br>

<div>
  <%= link_to "Show this sous category", @sous_category %> |
  <%= link_to "Back to sous categories", sous_categories_path %>
</div>
